*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #010101;
  text-align: left;
  background-color: #fff;
}

header {
  background-image: url("../images/header_bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 10px 10px;
}

h4 {
  font-weight: 800;
  font-size: 15px;
  margin: 25px 0;
}

.modal-loading .modal-content {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50% 50%;
}

.modal-loading .modal-body {
  padding: 0;
}

.form-subtitle {
  font-size: 18px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  font-weight: 600;
}

.form-control {
  border-radius: 0;
  height: calc(1.5em + 1.5rem + 2px);
  background-color: #ffffff;
  border-color: #e1e1e1;
}

.form-control.form-control-highlight {
  background-color: #e8f0fe;
}

.form-text {
  font-size: 13px;
}

.custom-select {
  height: calc(1.5em + 1.5rem + 2px);
  border-radius: 0;
  border-color: #e1e1e1;
  background-image: url("../images/down-icon.png");
  background-color: #e1e1e1;
  background-size: 18px 13px;
  font-weight: 600;
  color: #010101;
}

.form-check.form-check-inline {
  padding-left: 0;
}

.form-check-input {
  height: 26px;
  width: 26px;
  margin-right: 10px !important;
  color: #111111;
  border: 2px solid #111111;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-check-input:checked {
  background-image: url('../images/check2.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.form-check {
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-check-input {
  margin-left: -35px;
}

form a,
.text-underline {
  text-decoration: underline;
}

.font-weight-bold {
  font-weight: 600 !important;
}

font-weight-bolder {
  font-weight: 800 !important;;
}


.breadcrumb {
  padding: 15px 15px;
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
  font-size: 13px;
  line-height: 1;
  color: #858585;
}

.breadcrumb a {
  color: #858585;
}

.breadcrumb .active {
  color: #010101;
}

.modal-title {
  font-family: "Interstate Black Cond";
  font-size: 21px;
  margin-bottom: 5px;
}

.modal-content {
  border-radius: 0;
}

.modal-body {
  border-radius: 0;
  padding: 25px 40px 20px 40px;
}

button.close {
  position: absolute;
  right: 15px;
  top: 15px;
  background-image: url("../images/close.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 29px;
  width: 29px;
}

.modal-backdrop.show {
  opacity: 0.65;
}

#page-content {
  padding: 30px 0px;
  margin-bottom: 30px;
}

.bg-grey {
  background-color: #f7f7f7;
}


.tab {
  font-family: "Interstate Bold Cond";
  font-size: 15px;
  color: #010000;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.tab .active {
  cursor: inherit;
}

.tab .active,
.tab li:hover {
  color: #fff;
  background-color: #111111;
}

.tab li {
  list-style: none;
  padding: 25px 47px;
  line-height: 1;
  background-color: #e1e1e1;
  margin: 0 2px;
  cursor: pointer;
  text-align: center;
}


.title {
  font-size: 29px;
  line-height: 1;
  font-family: 'Interstate Black Cond';
  margin: 25px 0;
  text-transform: uppercase;
}

.title-2 {
  font-size: 25px;
  margin: 30px 0 0px 0;
  font-family: 'Interstate Regular';
  text-align: center;
}

.btn {
  font-family: 'Interstate Bold Cond';
  padding: 11px 22px;
  border-radius: 0;
  box-shadow: none;
  border-width: 2px;
}

.btn-small{
  padding: 10px 10px;
  font-size: 13px;
}

.btn-outline-secondary {
  border-color: #111111;
  color: #111111;
}

.btn-outline-secondary:hover {
  background-color: #111111;
  border-color: #111111;
}

.btn-light {
  background-color: #e1e1e1;
}

#icomo .item {
  padding: 30px;
  border-bottom: #e1e1e1 1px solid;
}

#icomo .col-12.order-1,
#icomo .col-12.order-2.order-md-1 {
  padding-left: 0px;
  padding-right: 40px;
}

#icomo .col-12.order-2,
#icomo .col-12.order-1.order-md-2 {
  padding-left: 40px;
  padding-right: 0px;
}

#icomo img {
  width: 100%;
}


#icomo .content {
  text-align: center;
}

#icomo .num {
  font-family: "Interstate Black Cond";
  font-size: 29px;
  line-height: 50px;
  color: #fff;
  border-radius: 50% 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  display: inline-block;
}

#icomo .sub-name {
  font-size: 18px;
  color: #000000;
  text-align: center;
  font-weight: 800;
  padding-bottom: 5px;
}

#icomo .name {
  font-family: "Druk Bold";
  font-size: 40px;
  line-height: 1;
  color: #85294a;
  text-align: center;
  padding: 10px 0;
}

#icomo .des {
  color: #000000;
  font-size: 18px;
}

#icomo .item-1 .content .num {
  background-color: #85294a;
}

#icomo .item-1 .content .name {
  color: #85294a;
}

#icomo .item-2 .num {
  background-color: #174754;
}

#icomo .item-2 .name {
  color: #174754;
}

#icomo .item-3 .num {
  background-color: #d77824;
}

#icomo .item-3 .name {
  color: #d77824;
}

.frm-normal {
  width: 300px;
  padding: 25px 0;
}

.frm-normal-2 {
  width: 700px;
  padding: 25px 0;
  margin-right: 20px;
  margin-left: 20px;
}

.frm-normal-2 .row {
  margin-left: -20px;
  margin-right: -20px;
}

.frm-normal-2 .col-sm-6 {
  padding-right: 20px;
  padding-left: 20px;
}

footer {
  padding: 35px 10px;
  text-align: center;
  border-top: #e1e1e1 1px solid;
}

.text-b {
  font-family: "Interstate Bold Cond";
  font-size: 14px;
  color: #000;
  line-height: 1.2;
  margin-bottom: 6px;
}

.text-n {
  font-family: "Interstate Regular";
  font-size: 11px;
  color: #787878;
}

.text-nav a {
  font-family: "Interstate Bold Cond";
  font-size: 14px;
  color: #000;
}

.logged-info {
  font-size: 15px;
  padding: 0px 15px;
}

.logged-info .account-info {
  font-weight: 600;
}

.logout {
  font-family: "Interstate Bold Cond";
  color: #919191;
  cursor: pointer;

}

.logout {
  background-image: url("../images/close-circle.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 20px;
}

.mi-cuenta {
  border: 2px solid #e1e1e1;
  padding: 20px;
  height: 100%;
}

.mi-cuenta-item {
  background-color: #f7f7f7;
  padding: 22px;
  margin-bottom: 12px;
}

.mi-cuenta-title {
  font-weight: 800;
  font-size: 15px;
  padding-left: 40px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px auto;
  min-height: 35px;
  margin-bottom: 6px;
  line-height: 1;
  display: flex;
}

.mi-cuenta-item span.no {
  font-size: 25px;
  padding-left: 10px;
  line-height: 1;
}

.mi-cuenta-title-1 {
  background-image: url("../images/mi-cuenta-icon-1.png");
}

.mi-cuenta-title-2 {
  background-image: url("../images/mi-cuenta-icon-2.png");
}

.mi-cuenta-des {
  font-size: 13px;
}

.mi-cuenta-des b {
  font-weight: 600;
}

.mi-cuenta-2 {
  background-image: url("../images/mi-cuenta.jpg");
  background-position: 0 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 350px;
  width: 100%;
  height: 100%;
}

.mi-cuenta-2.bg_cover {
  background-position: top center;
  background-size: cover;
}

hr {
  border-top-color: #e1e1e1;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

.histories {
  max-width: 400px;
  margin-left: 40px;
}

.history-item {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 18px;
  margin-bottom: 16px;
}

.history-item:after {
  content: '';
  background-color: #e4d0d7;
  position: absolute;
  width: 2px;
  height: 100%;
  left: -31px;
  top: 20px;
}

.history-item:last-child:after {
  display: none;
}

.history-item .history-item-date {
  font-size: 13px;
  background-image: url("../images/icon-clock.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: left center;
  margin-left: -40px;
  padding-left: 40px;
  background-size: 20px 20px;
  min-height: 20px;
}

.text-purple {
  color: #85294a;
}

@media (max-width: 767.98px) {
  .logo {
    width: 55px;
  }

  .title-2 {
    font-size: 33px;
    margin-bottom: 0;
  }

  .tab li {
    padding-right: 0;
    padding-left: 0;
    width: 50%;
  }

  #icomo .item {
    padding: 0px 0px;
  }

  #icomo .col-12.order-1,
  #icomo .col-12.order-1.order-md-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  #icomo .col-12.order-2,
  #icomo .col-12.order-2.order-md-1 {
    padding-left: 0px;
    padding-right: 0px;
  }

  #icomo img {
    padding-bottom: 30px;
  }

  #icomo .item .content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 376px) {
  .mi-cuenta-2 {
    min-height: 200px;
  }
}

.input-group-text {
  border-radius: 0;
}

#filter{
  border: 2px solid #e1e1e1;
  padding: 20px 5px;
  background-color: #f7f7f7;
  margin: 0 0 20px 0;
}
